extends layout

block content
	script(src='/public/javascripts/user_profile.js')
	script(type='text/javascript')
		UserProfileFunctions.loadInUser(!{JSON.stringify(variable)});


	center
		h2= variable.user.Username
		div(class="UserInfoBox", id="UserInfoBox")
			p Name: #{variable.user.FirstName} #{variable.user.LastName}
			p Birthday: #{variable.user.Birthday}
			p Location: #{variable.user.City}, #{variable.user.Country}
		div(class="UserInfoBox", id="StalkersBox")
		h3 Activity
		div(id="container", style="position: relative;", class="masonry")
